html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  background: #12232e;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
}
#job-description {
  padding: 5px;
}

#job-description ul {
  list-style: none;
  padding: 15px;
}

#job-description li {
  margin: 10px 0;
}

#job-description p {
  margin: 20px 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  float: left;
  padding: 20px;
  color: #eefbfb;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  list-style: none;
}

li a {
  color: #eefbfb;
  font-size: 1.5em;
  text-decoration: none;
}

section {
  background: linear-gradient(to top, #007cc7, #12232e);
}

a:hover {
  color: #000000;
}

#index {
  color: #eefbfb;
  display: inline-block;
  width: auto;
  height: 100vh;
}


#about {
  height: 100vh;
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 1.5em;
}

#portfolio {
  height: 700px;
  font-size: 1.5em;
  color: #eefbfb;
  display: inline-block;
  width: auto;
  height: auto;
}

#portfolio h1{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

#contact {
  height: 75vh;
  font-size: 1.5em;
  color: #eefbfb;
  display: inline-block;
  width: auto;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #eefbfb;
  padding-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

b1 {
  font-size: 2em;
  margin: auto;
  font-weight: 400;
  color: #eefbfb;
  text-align: center;

}

b2 {
  font-size: 1em;
  font-weight: 300;
  color: #eefbfb;
  text-align: left;
}

p {
  font-size: 1em;
  color: #eefbfb;
}

footer {
  background: #12232e;
  color: #eefbfb;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 40%;
  -ms-transform: translateY(-50%, -50%);
  transform: translateY(-50%, -50%);
  /*This part is important for centering*/
  display: flex;
  align-items: center;
}

.typing-demo-home {
  width: 11ch;
  animation: typing 2s steps(11), blink 0.75s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  color: #eefbfb;
  border-right: 3px solid;
  font-family: "Poppins", sans-serif;
  font-size: 7em;
  margin: auto -175px;
  z-index: 1;
}

@keyframes typing {
  from {
    width: 14%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
