html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #2c3e50;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2c3e50;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 0.3s;
  flex-shrink: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 20px;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  transition: background 0.3s;
}

nav li:hover {
  background: #34495e;
}
nav li a {
  color: #ecf0f1;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.social-icon {
  height: 30px;
  margin-right: 20px;
}

.social-icon:hover {
  transform: scale(1.1);
}

section {
  padding: 100px 0;
}

#index {
  background: linear-gradient(to top, #2980b9, #2c3e50);
  position: relative;
  color: #ecf0f1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.button-container {
  margin-top: 20px;
}

.explore-button {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.explore-button:hover {
  background: #34495e;
  transform: scale(1.05);
}

@keyframes pulse {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.9;
  }
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 50px 0;
  flex-grow: 1;
}

.about-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px;
  width: 90%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about-text {
  flex: 1;
  padding: 20px;
  font-size: 1em;
  line-height: 1.6;
  color: #2c3e50;
}

.about-text h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 20px;
}

.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#awards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#awards a {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#awards a:hover {
  background-color: #0056b3;
}

#Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 10px;
}

.contact-info {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #2c3e50;
  font-size: 1.2em;
  line-height: 1.5;
  color: #34495e;
}

.contact-info b1 {
  font-weight: 600;
}

.contact-info a {
  color: #2980b9;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form button {
  padding: 10px 20px;
  background: #2c3e50;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1em;
}

.contact-form button:hover {
  background: #34495e;
  transform: scale(1.05);
}

.project {
  border: 1px solid #2c3e50;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.project h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.project p {
  font-size: 1em;
  color: #2c3e50;
}

.project a {
  text-decoration: none;
  color: #2980b9;
  font-weight: 700;
}

#header {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#header p {
  font-size: 16px;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out; /* Add transition to the image hover */
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #2c3e50;
}

b1 {
  font-size: 1.2em;
  font-weight: 400;
  color: #2c3e50;
}

footer {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  flex-shrink: 0;
  transition: background 0.5s ease-in-out; /* Add transition to the footer background */
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 5s infinite; /* Add animation to the wrapper */
}

/* Add keyframes for the pulse animation */
@keyframes pulse {
  0% {
    background-color: #2c3e50;
  }
  50% {
    background-color: #ecf0f1;
  }
  100% {
    background-color: #2c3e50;
  }
}